<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/qpageone.css">

</head>

<body>
    <div class="quiz">

        <form action="/social_submit" method="post">
        {{#each data}}

        <h2 class="quiz-question">{{this.question}}</h2>
        <ul data-quiz-question="6">
            <input type="radio" checked="checked" value="{{this.option1}}" name="{{this.number}}"  class="quiz-answer" > a. {{this.option1}}<br>
            <input type="radio" value="{{this.option2}}" name="{{this.number}}" class="quiz-answer" > b.{{this.option2}} <br>
            <input type="radio" value="{{this.option3}}" name="{{this.number}}" class="quiz-answer" > c. {{this.option3}}<br>
            <input type="radio" value="{{this.option4}}" name="{{this.number}}" class="quiz-answer" > d. {{this.option4}}<br>
            {{!-- <li type="radio" class="quiz-answer" data-quiz-answer="a">a. ScriptJava</li>
            <li type="radio" class="quiz-answer" data-quiz-answer="b">b. JavaScript</li>
            <li class="quiz-answer" data-quiz-answer="c">c. JabaHutt</li>
            <li class="quiz-answer" data-quiz-answer="d">d. jQuery</li> --}}
        </ul>
            {{/each}}


            <button type="submit">submit</button>
            </form>
    </div>

    
    {{!-- <script src="javascripts/qpageone.js"></script> --}}
</body>

</html>